#container {
   display: grid;
   grid-template-columns: repeat(16, 1fr);
   width: 90vh;
   height: 90vh;
   border: solid red 3px;
   margin: 0 auto;
}

.grid-box {
   margin: 0;
   padding: 0;
   border: solid blue 1px;
}

.red-bg {
   background-color: red;
}
