#container {
   display: grid;
   grid-template-columns: repeat(16, 20px);
   height: 90vh;
   width: 100ch;
   border: solid red 3px;
   margin: 0 auto;
}

.grid-box {
   margin: 0;
   padding: 0;
   border: solid yellow 1px;
}


