#set-grid-size {
   display: block;
   margin: 1vh auto;
}

#container {
   display: grid;
   grid-template-columns: repeat(16, 1fr);
   width: 90vh;
   height: 90vh;
   margin: 0 auto;
}

.grid-box {
   margin: 0;
   padding: 0;
   border: solid black 1px;
}

.black-bg {
   background-color: black;
}
